/*Contenido del footer*/

footer {
  font-family: $font-secundaria;
  font-size: 0.9rem;
  position: relative;
  text-align: center;
  background-color: $color-fondo-pie;
  color: $color-pie;

  p {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 30px 0;
    margin: 0;
  }

  a {
    color: $color-hipervinculos-pie;

    //pseudoclase
    &:hover {
      color: $color-hipervinculos-hover;
    }
  }
}

@media (min-width: 768px) {
  footer {
    text-align: left;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    ul li {
      display: inline-block;
    }

    ul li::after {
      content: "•";
      padding-right: 8px;
      padding-left: 8px;
    }

    ul li:last-child::after {
      content: "";
      padding-right: 0;
      padding-left: 0;
    }
  }
}
