<main id="main">
  <div class="container">
    <section>
      <h2 class="textcenter">NUESTRO PATRIMONIO</h2>
      <ul class="sitios gridcontainer">
        <li>
          <img src="./assets/images/elparrizal.jpg" alt="" class="imgfluid" />
          <p class="sitios__titulo">El Parrizal</p>
          <p class="sitios__titulo--secundary">Parrisal</p>
          <p>
            Este trayecto lleva hasta las minas del Parrizal a pie o
            en coche. Desde el pueblo, el paseo a pie dura unas
            cuatro horas, teniendo en cuenta la ida y la vuelta. Se
            trata de una ruta muy sencilla, apta para todas las
            edades.
          </p>
        </li>
        <li>
          <img src="./assets/images/lapesquera.jpg" alt="" class="imgfluid" />
          <p class="sitios__titulo">La Pesquera</p>
          <p class="sitios__titulo--secundary">Peixquera</p>
          <p>
            Nos encontramos en un bonito paisaje que ha conformado
            el río Ulldemó hasta su confluencia con el río Matarraña
            / Matarranya, muy próximo a la localidad de Beceite y
            que se encuentra protegido como LIC de los Puertos de
            Beceite.
          </p>
        </li>
        <li>
          <img src="./assets/images/pantano.jpeg" alt="" class="imgfluid" />
          <p class="sitios__titulo">El pantano de Pena</p>
          <p class="sitios__titulo--secundary">Pantà de Pena</p>
          <p>
            Construido en 1930, se trata de uno de los embalses más
            antiguos de la provincia de Teruel. Se construyó una
            presa para estancar las aguas del río Pena en la foz
            existente entre los términos de Valderrobres y Beceite.
          </p>
        </li>
        <li>
          <img src="./assets/images/Iglesia.jpg" alt="" class="imgfluid" />
          <p class="sitios__titulo">Iglesia de San Bartolone</p>
          <p class="sitios__titulo--secundary">Església de Sant Bartomeu </p>
          <p>
            Obra barroca realizada entre el s.XVII-XVIII, que
            sustituyó a la primitiva iglesia dedicada a San
            Bartolomé y de la que ya había constancia en el año
            1210. De la antigua iglesia se observan elementos
            recuperados en las fachadas laterales
          </p>
        </li>
        <li>
          <img src="./assets/images/Santa-Ana.jpg" alt="" class="imgfluid" />
          <p class="sitios__titulo">Iglesia de Santa Ana</p>
          <p class="sitios__titulo--secundary">Església de Santa Anna</p>
          <p>
            Situada en el arrabal del puente, fuera de las murallas
            de la población, recibía al visitantes procedente del
            antiguo camino de Peñarroya. Parece probable que esté
            relacionada con la ampliación del Arrabal y la
            construcción del puente de piedra.
          </p>
        </li>
        <li>
          <img src="./assets/images/puentepiedra.jpg" alt="" class="imgfluid" />
          <p class="sitios__titulo">Puente de Piedra</p>
          <p class="sitios__titulo--secundary">Pont de Pedra</p>
          <p>
            El puente de piedra de Beceite es el primero desde su
            cabecera que evita el río Matarraña. Tiene un solo ojo y
            mide unos 15 metros de altura. Su construcción permitió
            que la población no quedase incomunicada en caso de
            fuertes riadas.
          </p>
        </li>
      </ul>
    </section>
  </div>
</main>
